// Font Styles
$primary-font: var(--primary-font);
$secondary-font: var(--secondary-font);

// Color Styles
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$tertiary-color: var(--tertiary-color);

// Borders
$primary-border: var(--primary-border);
$secondary-border: var(--secondary-border);

//Backgrounds
$primary-background: var(--primary-background);
$secondary-background: var(--secondary-background);
