@import "../../styles/_mixins.scss";
@import "../../styles/_variables.scss";

.NavContainer {
  z-index: 200;
  height: 75px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: transparent;
  transition: background-color 0.3s ease;
  padding: 2px;
  border: #fff 1px solid;
  border-radius: 12px;
  &.scrolled {
    background-color: #fff;
    .NavContent {
      border: #007bff;
    }
  }
  .NavContent {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    border: 1px solid #007bff;
    background-color: #fff;
    border-radius: 12px;
    .NavLogo {
      width: 30%;
      cursor: pointer;
      h1 {
        font-size: 2.5rem;
        font-weight: 700;
        color: #007bff;
        font-family: var(--primary-font);
        font-style: bold;
        span {
          color: yellow;
        }
      }
    }
    .NavLinks {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 20%;
      // margin-left: 10%;
      .NavLink {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--primary-font);
        font-weight: 600;
        font-size: 24px;
        cursor: pointer;
        color: #007bff;
        height: 100%;
        text-decoration: none;
        &:hover {
          border-bottom: 4px solid #007bff;
        }
      }
    }
    .NavSearchArea {
      width: 20%;
      height: 40px;
      border-radius: 20px;
      border: #007bff 0.5px solid;
      padding: 8px;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;
      outline: #fff;
      .NavSearchIcon {
        width: 32px;
        height: 32px;
        color: #007bff;
        cursor: pointer;
      }
      .NavSearchBar {
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        background-color: transparent;
        color: #fff;
        font-family: var(--primary-font);
        font-size: 18px;
      }
      .NavSearchBar::placeholder {
        color: #ccc;
        font-family: var(--primary-font);
        font-size: 18px;
      }
    }
    .NavTime {
      font-size: 18px;
      color: #007bff;
      font-style: bold;
    }
  }
}
